.container {
  margin: 50px 0;
}

.card {
  margin: 10px 2% !important;
}

.infected {
  border-bottom: 15px solid rgb(0, 0, 250, 0.5);
}

.recovered {
  border-bottom: 15px solid rgb(0, 250, 0, 0.5);
}

.death {
  border-bottom: 15px solid rgb(250, 0, 0, 0.5);
}

@media (max-width: 770px) {
  .container {
    margin: 10px 10% !important;
  }

  .card {
    margin: 20px 10% !important;
  }
}
